.fake-btn {
	color: #fff !important;
	background: #0d6efd;
	border-radius: 5px;
	box-shadow: 0 3.2px 7.7px rgba(0, 0, 0, 0.18);
	min-width: 120px;
	font-size: 1.25rem;
	font-weight: bold;
	cursor: pointer;
	margin: 0.5em 1em;
	padding: 0.5em;
	text-align: center;
}

.fake-btn:active {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

