.question {
	width: 90%;
}

.question__text {
	font-weight: bold;
}

.question__answers-cont {
	display: flex;
	justify-content: space-evenly;
}

.question__btn-cont {
	display: flex;
	justify-content: center;
}
