.question {
	width: 90%;
}

.question__text {
	font-weight: bold;
}

.question__answers-cont {
	display: flex;
	justify-content: space-evenly;
}

/* .question__answers-cont__answer {
	max-width: 30%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.25em 0.35em;
	cursor: pointer;
	text-align: center;
	background-color: #fff;
	margin: 0.25em;
	word-wrap: inherit;
} */


.question__btn-cont {
	display: flex;
	justify-content: center;
}

/* .question__answers-cont__answer--higlighted-answer {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.question__answers-cont__answer--correct-answer {
	box-shadow: inset 5px 5px 10px -3px rgba(0, 128, 0, 0.7);
	background: #94D7A2;
}

.question__answers-cont__answer--incorrect-answer {
	box-shadow: inset 5px 5px 10px -3px rgba(255, 0, 0, 0.7);
	background: #F8BCBC;
} */