* {
	user-select: none;
}

body {
	margin: 0;
	background-color: papayawhip;
	color: #112a46;
	min-height: 100vh;
	overflow: auto;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

input[type='radio'] {
	display: none;
}